{% extends "GigyaBundle:Layout:empty.html.twig" %}

{% block layout_javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endblock %}

{% block _content %}
	<section>
        <h1>Account (DATE: {{ '' | date('c') }})</h1>
        <div id="login"></div>
        {% include "GigyaBundle:Socializer:login.html.twig" with { 'containerID': 'login', 'height': 85, 'width': 360 } %}
        {% include "GigyaBundle:Socializer:source.html.twig" %}
	</section>
{% endblock %}
