{% extends "GigyaBundle:Layout:empty.html.twig" %}

{% block layout_javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endblock %}

{% block _content %}
	<section>
        <h1>Login Via Embedded</h1>

        {% include "GigyaBundle:Socializer:login_embedded.html.twig" %}
        <ul>
            {% for provider, label in gigya_socializer.providers %}
               <li>
                   <span onclick="javascript:{{ gigya_socializer.loginFunctionName }}('{{ provider}}', 'http://www.mattfitz.info')">{{ label }}</span>
               </li>
            {% endfor %}
        </ul>

        {% include "GigyaBundle:Socializer:source.html.twig" %}
	</section>
{% endblock %}
