{# 
 # @param string $provider
 #}

{% extends "GigyaBundle:Layout:empty.html.twig" %}

{% block _content %}
	<section>
        <h1>Success! You are logged in with {{ provider }}</h1>
        <h3>This is the first time you have used {{ provider }} to login.</h3>
        <ul>
            <li>Are you a new user? Click <a href="{{ path('gigya_user_create') }}">here</a> to finish registration.</li>
            <li>Are you a returning user? Click <a href="{{ path('gigya_user_link') }}">here</a> to link your account.</li>
        </ul>
	</section>
{% endblock %}
